name: Build and Release ISO

on:
  schedule:
    - cron: '0 0 1 * *'  # Runs at midnight on the first day of every month
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container:
        image: archlinux
        options: --privileged
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Arch Linux environment
        run: |
          pacman -Sy --noconfirm archiso git

      - name: Build ISO
        run: |
          mkarchiso -v .

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "${{ format('{0}-release', github.event.head_commit.timestamp || github.event.schedule) }}"

          files: ./out/*.iso
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}